version: '3.7'

services:
  pg_db:
    container_name: pg_db
    image: postgres:latest
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - 5432:5432

volumes:
  postgres_data:

# run --name pg_test -p 5432:5432 -e POSTGRES_PASSWORD=postgres -d postgres:latest