version: '3.7'

services:
  pg_db:
    container_name: pg_db
    image: postgres:latest
    platform: linux/arm64
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - ${DB_PORT}:5432

volumes:
  postgres_data:

# run --name pg_test -p 5432:5432 -e POSTGRES_PASSWORD=postgres -d postgres:latest